
$primary : red;
$secondary : green;
$info: tomato;
$danger: teal;

$body-bg: #000;
$body-color: #e2dada;

$canitdad : 1rem;

$purple : rgb(236, 0, 236);
.alpha { color: $purple; };

$colors: (
  "blue": yellow,
  "indigo": grey,
  "purple": pink,
  "pink": red,
) !default;

$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 8rem; 

/* import bootstrap to set changes */
@import './node_modules/bootstrap/scss/bootstrap';


